body {
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.phone-frame {
    width: 320px;
    height: 600px;
    background: black;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    border: 8px solid #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.notch {
    width: 100%;
    height: 35px;
    background: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.status-bar .icons i {
    margin-left: 5px;
}


.call-screen {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.caller-info {
    text-align: center;
    margin-top: 40px;
}

h2, h6, p {
    color: white;
    margin: 5px 0;
}

p {
    font-size: 14px;
    opacity: 0.7;
}


.avatar {
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.avatar i {
    font-size: 45px;
    color: black;
}


.buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 30px;
}

.buttons a {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.answer {
    background: green;
    cursor: pointer;
}

.decline {
    background: red;
    cursor: pointer;
}

.buttons a i {
    color: white;
}
